.App {
  font-family: sans-serif;
  text-align: center;
}

.CityName {
  text-transform: capitalize;
  margin-bottom: 0;
}

.Desc {
  text-transform: capitalize;
}

.SearchBar {
  font-size: 16px;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px 10px;
}

.SearchButton {
  margin-left: 3px;
  font-size: 16px;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px 10px;
}

.Header {
  color: rgb(36, 36, 36);
  font-family: sans-serif;
  text-align: center;
  text-shadow: 2px 2px 0px #edcb91;
}

.Footer {
  margin-top: 50px;
  font-size: 11px;
}

.Footer a {
  color: black;
  text-decoration: none;
}

.Footer a:hover {
  text-decoration: underline;
}
